---
const personalImageAlt = 'Alejandro';
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
	<div class="[&>p]:mb-4 [&>p>strong]:text-blue-800 dark:[&>p>strong]:text-blue-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
		<p>
			
			Hello, I'm Aniruddh Bambhaniya (you can also call me Ansh)!

I’m a passionate front-end <strong>Web developer and UI/UX designer</strong> from Gujarat, India. I hold a <strong>Bachelor's degree in Computer Applications (BCA)</strong> from  H & H B. Kotak Institute of Science, Rajkot. 
			<p>
				<strong>I recently completed an internship as a front-end developer at Alphabit Infoway Pvt. Ltd.</strong> in Rajkot, where I honed my skills and gained valuable industry experience.
					<br />
					<br />
						

			</p>
		</p>
	</div>
	<img src="/me.webp" class="size-72 order-1 md:order-2" alt={personalImageAlt} />
</article>
